html, body {
    margin: 0; 
    height: 100%; 
}

#container {
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: 100%;
    height: 92%;
}

#nav-bar{
    height: 8%;
}

#side-bar{
    background-color: #d7d8db;
}

#content {
    padding: 1%;
    display: grid;
    grid-template-rows: 28% 69%;
    row-gap: 2%;
}

#personalization {
    display: grid;
    grid-template-rows: 20% 80%;
    text-align: center;
}

#personalization-content {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1%;
}

.row{
    width: 100%;
}

#hangout-content {
    display: grid;
    grid-template-columns: 49% 49%;
    grid-template-rows: 100%;
    column-gap: 2%;
}

.card {
    height: 100%;
    overflow: scroll;
}

label{
    font-size: smaller;
    margin: 0;
}

.card-body{
    padding: 1%;
}

option{
    font-size: smaller;
}

#active-hangout-cards{
    font-size: smaller;
}

#mobile-footer{
    display: none;
}

#active-friends-card{
    display: none;
}

#mobile-create-hangout{
    display: none;
}
#close{
    background-color:red;
}
#close:hover{
    background-color: darkred;
}
#myForm{
    display:none;
    position: fixed;
    bottom:50px;
}
.open-button{
    width:150px;
    height:50px;
}
@media (max-width: 414px){
    #personalization-content{
        display: none;
    }

    #side-bar{
        display: none;
    }

    #desktop-create-hangout{
        display: none;
    }

    #p-header{
        font-size: x-large;
    }

    #user-name{
        font-size: larger;
    }

    #mobile-footer{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: 8%;
        background-color: #b0b0b0;
    }

    #container{
        height: 84%;
    }

    #content{
        width: 100vw;
        display: flex;
        flex-direction: column;
        overflow: scroll;
    }

    #personalization{
        border-bottom: 1px solid black;
        padding-top: 1%;
    }

    #hangout-content{
        display: flex;
        flex-direction: column;
        height: 92%;
    }

    #create-hangout-card{
        padding-top: 2%;
    }

    #mobile-create-hangout{
        display: flex;
        justify-content: center;
    }

    .dot {
        height: 15px;
        width: 15px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
      }

    #active-friends-card{
        display: block;
    }

    #add-symbol{
        width: 4%;
        height: 4%;
        margin-right: 2%;
        margin-top: 0.2%;
    }
}