html, body {
    margin: 0; 
    height: 100%; 
}

#brand-text{
    font-size: x-large;
}

#container {
    display: flex;
    flex-direction: column;
    height: 84%;
}

#nav-bar{
    height: 8%;
    background-color: #7a0203;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#add-friends{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 20%; 
}

#input-section{
    display: grid;
    grid-template-columns: 68% 28%;
    column-gap: 5%;
    padding: 0 2% 0 2%;
    width: 100%;
}

#smalltext-section{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding-left: 3%;
}

#friends-list-outer{
    width: 90%;
    height: 90%;
    text-align: center;
    padding: 1%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 8% 92%;
}

#friends-list{
    display: grid;
    grid-template-columns: 50% 50%;
    row-gap: 5%;
    justify-items: center;
    overflow: scroll;
}

.card{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-left: 5%;
}

.profile-pic{
    height: 70px;
    width: 70px;
}

#interactions{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#mobile-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 8%;
    background-color: #7a0203;
}

#fb-btn {
    border:none;
    overflow:hidden;
}

@media (max-width: 414px){
    #mobile-footer{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: 8%;
        background-color: #7a0203;
    }

    #container{
        height: 84%;
    }

    #content{
        height: 100%;
        width: 100vw;
        display: flex;
        flex-direction: column;
        overflow: scroll;
    }

    #add-friends{
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 20%;  
    }

    #input-section{
        display: grid;
        grid-template-columns: 68% 28%;
        column-gap: 5%;
        padding: 0 2% 0 2%;
        width: 100%;
    }

    #smalltext-section{
        display: flex;
        justify-content: flex-start;
        width: 100%;
        padding-left: 2%;
    }

    #friends-list-outer{
        width: 100%;
        height: 80%;
        text-align: center;
        padding: 1%;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 8% 92%;
    }

    #friends-list{
        display: grid;
        grid-template-columns: 100%;
        row-gap: 3%;
        justify-items: center;
        overflow: scroll;
        /* border: 2px dotted blue; */
    }

    #interactions{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
}