html, body {
    margin: 0; 
    height: 100%; 
    background-color: black;
    color: white;
    font-family: Enriqueta;
}
#fb-btn {
    border:none;
    overflow:hidden;
}
#added{
    color:black;
}
.display-div{
    text-align: center;
}
#header-bar{
    height: 8%;
    background-color: black;
}

#logo{
    height: 100%;
}

#nav-bar{
    height: 8%;
    background-color: #7a0203;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}


#mobile-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 8%;
    background-color: black;
}

#container {
    display: flex;
    flex-direction: column;
    height: 84%;
}
#user-container{
    width:50%;
}
#content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-left: 5%;
    margin-right: 5%;
    height:100%;
}
#messages-card{
}
#nav-bar{
    height: 8%;
    background-color: #7a0203;
}
#logo{
    z-index:99;
}
#user-container{
    display:block;
}
#sign-out, #user-name, #user-pic{
    float:right;
    color:white;
}
@media (max-width: 634px){
    #mobile-footer{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: 8%;
        background-color: black;
    }

    #container{
        height: 84%;
    }

    #content{
        display:flex;
        flex-direction: column;
        height:2000px;
        margin-bottom:10%;
    }
    #display-div{
        margin-right:0;
    }
}

