h1{
    font-size: 15pt;
}
.display{
            grid-area: main;
            border: 1px solid black;
        }

        .user{
            display:inline;
            text-align: center;
        }
        .display-div{
            display:flex;
            flex-direction:column;
            overflow:scroll;
            height:200px;
        }
        .display{
            text-align: center;
            margin-left:3%;
        }
        .active{
            color:white;
        }
#myForm{
    width:40%;
    margin-left:10px;
}

#fb-btn {
    border:none;
    overflow:hidden;
}
