html, body {
    margin: 0; 
    height: 100%; 
}

#brand-text{
    font-size: x-large;
}

#container {
    display: flex;
    flex-direction: column;
    height: 92%;
}

#content{
    display: grid;
    grid-template-columns: 50% 50%;
    margin-left: 5%;
    margin-right: 5%;
}

#public-rooms, #rooms-list{
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align:center;
    height:600px;
    overflow:scroll;
}

#nav-bar{
    height: 8%;
    background-color: #7a0203;
}

#mobile-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 8%;
    background-color: #7a0203;
}

@media (max-width: 634px){
     #mobile-footer{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: 8%;
        background-color: #7a0203;
    }

    #container{
        height: 84%;
    }

    #content{
        /* width: 100vw; */
        height: 100%;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
        overflow: scroll;
    }
}