html,body {
    margin: 0; 
    height: 100%; 
    background-image: url(../images/gg.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: white;
}
@keyframes test {
  from {font-size: 20pt; opacity: 1;}
  to {font-size: 80pt; opacity: 0;}
}
*{
    z-index:2;
}
#mj{
    position:fixed;
    z-index:2;
}
.mc{
    opacity:0;
    z-index:3;
    position:fixed;
    font-size: 30pt;
    animation-name: test;
    animation-duration: 5s;
}
.move{
    font-size:100pt;
    transition: font-size 3s;
}
.audiobtn{
    width:10%;
    height: 50px;
}
#container {
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: 100%;
    height: 92%;
}

#openForm{
    width:10%;
    height:50px;
}

#nav-bar{
    height: 8%;
    background-color: #7a0203;
}

#side-bar{
    background-color: #d7d8db;
}

#content {
    padding: 1%;
    display: grid;
    grid-template-rows: 28% 69%;
    row-gap: 2%;
    justify-content: center;
}

#personalization {
    display: grid;
    grid-template-rows: 20% 80%;
    text-align: center;
}

#personalization-content {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1%;
}

.row{
    width: 100%;
}

#mobile-footer{
    display: none;
}

#mobile-create-hangout{
    display: none;
}

.side-link{
    color:#383d41;
}
.side-link:hover{
    text-decoration: none;
}
.list-group-item:hover{
    color:white;
    background-color: darkturquoise;
}
.active{
    color:white;
}
.side-link:hover{
    text-decoration: none;
    color:white;
}
#close{
    background-color:red;
}
#close:hover{
    background-color: darkred;
}
#myForm{
    display:none;
    position: fixed;
    bottom:50px;
    color:black;
}
.open-button{
    width:150px;
    height:50px;
}
#box{
    background-color:red;
    position: fixed;
    width:20%;
    height:20%;
    left:40%;
    top:40%;
    z-index:3;
    opacity: 0;
}
#myVideo{
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 1;
    transform: translateX(-50%) translateY(-50%);
    display: none;
}
@media (max-width: 414px){
    #personalization-content{
        /* display: none; */
    }

    #side-bar{
        display: none;
    }

    #p-header{
        font-size: x-large;
    }

    #user-name{
        font-size: larger;
    }

    #mobile-footer{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: 8%;
        background-color: #7a0203;
    }

    #container{
        height: 84%;
    }

    #content{
        width: 100vw;
        display: flex;
        flex-direction: column;
        overflow: scroll;
    }

    #personalization{
        padding-top: 1%;
    }

    #enter-pub{
        padding-top: 5%;
    }

    body{
        background-image: url(../images/gg.jpg);
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
    }

    .iframe-container{
        position: relative;
        width: 100%;
        padding-bottom: 56.25%; 
        height: 0;
    }
    .iframe-container iframe{
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}