#close{
    background-color:red;
}
#close:hover{
    background-color: darkred;
}
#myForm{
    display:none;
    position: fixed;
    bottom:50px;
    color:black;
}
.open-button{
    width:150px;
    height:50px;
}
#roomInvite{
    display:flex;
    flex-direction: column;
}