#zombie {
    position: fixed;
    width: 100px;
    height: 130px;
    visibility: hidden;
}

#zombie2 {
    position: fixed;
    width: 100px;
    height: 130px;
    visibility: hidden;
}

#end {
    font-size: 3vh;
}

#endButtonDiv {
    position: fixed;
    left: 40%;
    right: 40%;
    bottom: 1%;
}

#start {
    font-size: 3vh;
}

#startButtonDiv {
    left: 40%;
    right: 40%;
}

body {
    background-image: url("../images/background.png");
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
}

h2 {
    text-align: center;
    font-family: sans-serif;
    color: white;
    font-size: 3vw;
}

#back-btn{
    font-size: 3vh;
}

@media only screen and (max-width: 600px){
    #zombie {
        width: 90px;
        height: 100px;
    }
    
    #zombie2 {
        width: 90px;
        height: 100px;
    }

    h2 {
        font-size: 5vw;
    }

    #start {
        font-size: 2vh;
    }

    #back-btn{
        font-size: 2vh;
    }

    #end {
        font-size: 2vh;
    }

    #endButtonDiv{
        width: 50%;
        left: 25%;
        right: 25%;
    }
}